/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url('/bg.png');
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.center {
  align-items: center;
  display: flex;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  padding-top: 20px;
  padding-bottom: 5px;
}

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
	margin: 0;
	padding: 40px 0 15px 0;
	margin-bottom: 15px;
}

.jumbotron-brand {
  margin: 0;
	padding: 40px 0 15px 0;
	margin-bottom: 15px;
  background-color: #e9ffee;
}

code {
  font-size: 80%;
}

.hash {
  font-family: Courier, monospace;
}

.navbar-default {
	background-color: #ffffff;
	border-color: #61BD81;
  border-bottom-width: 2px;
}
.navbar-default .navbar-brand {
	color: #4A4A4A;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #4A4A4A;
}
.navbar-default .navbar-text {
	color: #4A4A4A;
}
.navbar-default .navbar-nav > li > a {
	color: #4A4A4A;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #61BD81;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #61BD81;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #69102b;
}
.navbar-default .navbar-toggle {
	border-color: #2885da;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #2885da;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #4A4A4A;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #4A4A4A;
}
.navbar-default .navbar-link {
	color: #4A4A4A;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #4A4A4A;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #3f9ff7;
	}
}

span.logo-1 {
	font-weight: 700;
  font-style: italic;
	color: #61BD81;
  padding: 0 7px 0 23px;
}

span.logo-2 {
	font-weight: 700;
	color: #4A4A4A;
  padding: 0 23px 0 5px;
}

span.logo-3 {
	color: #FFF;
	font-weight: 100;
  padding: 0 3px 0 3px;
}

span.logo-gold {
	color: #f2cf18;
	font-weight: 700;
  padding: 0 3px 0 3px;
}

.etc {
  height: 30px;
  width: 30px;
  pointer-events: none;
}

.etc-green > object{
  float: left;
}

.etc-green > strong{
  float: left;
}


/* That time i figured out how to do that thing to scale svg

  .etc-green {
  transform: scale(0.4);
  transform: translate(-200px, -50px);
}
*/

.navbar-collapse {
	font-size: 14px;
	font-weight: 200;
}

.note {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	border-radius: 5px;
}

.note-info {
	background-color: #E8F6FC;
	border-color: #57b5e3;
}

.note-danger {
	background-color: #fce8e8;
	border-color: #ff0000;
}

h4.note {
	margin-top: 0;
	font-weight: 300 !important;
}
/*---------------------------------------------------------------------------------------------------*/
/*----------------------------Bootstrap side notes for calling out things----------------------------*/
/*---------------------------------------------------------------------------------------------------*/

/* Base styles (regardless of theme) */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
/* Themes for different contexts */

/* Default */
.bs-callout-default {
    background-color: #eeeeee;
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}

/* Primary */
.bs-callout-primary {
    background-color: #e8effc;
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}

/* Success */
.bs-callout-success {
    background-color: #eafce8;
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}

/* Danger */
.bs-callout-danger {
    background-color: #fce8e8;
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}

/* Warning */
.bs-callout-warning {
    background-color: #fcfbe8;
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}

/* Info */
.bs-callout-info {
    background-color: #E8F6FC;
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/*---------------------------------------------------------------------------------------------------*/
/*----------------------------x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x----------------------------*/
/*---------------------------------------------------------------------------------------------------*/

/* Stats */
.stats {
	margin-bottom: 10px;
	margin-top: 5px;
}
.stats:last-child{
	width: auto;
}
.stats > h3 > i {
	width: 21px;
}
.stats > div{
	padding: 5px 0;
}
.stats > div > .fa {
	width: 25px;
}
.stats > div > span:first-of-type{
	font-weight: bold;
}

/*--------------------------------------| Bootstrap overrides |--------------------------------------*/

.ul, .ul-link {
  font-weight: 200;
  text-align: center;
}

.ul-link:hover, .ul-link:focus {
  color: inherit;
  text-decoration: none;
  opacity: .70;
}

.ul-default {
    color: #777;
    border-bottom: 2px solid #777;
}

.ul-primary {
    color: #428bca;
    border-bottom: 2px solid #428bca;
}

.ul-success {
    color: #5cb85c;
    border-bottom: 2px solid #5cb85c;
}

.ul-danger {
    color: #d9534f;
    border-bottom: 2px solid #d9534f;
}

.ul-warning {
    color: #f0ad4e;
    border-bottom: 2px solid #f0ad4e;
}

.ul-info {
    color: #5bc0de;
    border-bottom: 2px solid #5bc0de;
}

.ul-etc {
    color: #61BD81;
    border-bottom: 2px solid #61BD81;
}

/*-----------------------------------------| Custom Classes |-----------------------------------------*/

.btn-etc {
  background-color: #61BD81;
  border-color: #408c5a;
}

.btn-etc:hover {
    color: #fff;
    background-color: #428359;
    border-color: #2c623e;
}

/*--------------------------------------| x-x-x-x-x-x-x-x-x-x |--------------------------------------*/

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-cherry,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-grass,
.bg-wood,
.bg-black {
    color: #f9f9f9 !important;
}
.bg-gray {
    background-color: #eaeaec !important;
}
.bg-blackd{
    background-color: #222222 !important;
}
.bg-red {
    background-color: #f56954 !important;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.bg-cherry{
    background-color: #cd1231 !important;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.bg-blue {
    background-color: #0073b7 !important;
}

.bg-light-blue {
    background-color: #5fb4ef !important;
}
.bg-wood{
    background-color: #ab7d44 !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-grass {
    background-color: #a1c436 !important;
}
.bg-navy {
    background-color: #001f3f !important;
}
.bg-teal {
    background-color: #39cccc !important;
}
.bg-olive {
    background-color: #7f8000 !important;
}
.bg-lime {
    background-color: #00e405 !important;
}
.bg-orange {
    background-color: #ff851b !important;
}
.bg-fuchsia {
    background-color: #f012be !important;
}
.bg-purple {
    background-color: #932ab6 !important;
}
.bg-maroon {
    background-color: #85144b !important;
}

.bg-black {
    background-color: #000 !important;
}
/* Text colors */
.text-red {
    color: #f56954 !important;
}
.text-yellow {
    color: #f39c12 !important;
}
.text-aqua {
    color: #00c0ef !important;
}
.text-blue {
    color: #0073b7 !important;
}
.text-light-blue {
    color: #3c8dbc !important;
}
.text-green {
    color: #00a65a !important;
}
.text-navy {
    color: #001f3f !important;
}
.text-teal {
    color: #39cccc !important;
}
.text-olive {
    color: #7f8000 !important;
}
.text-lime {
    color: #01ff70 !important;
}
.text-orange {
    color: #ff851b !important;
}
.text-fuchsia {
    color: #f012be !important;
}
.text-purple {
    color: #932ab6 !important;
}
.text-maroon {
    color: #85144b !important;
}

.text-white {
    color: #ffffff !important;
}

.text-light-yellow
{
    color: #fefc2e  !important;

}