@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

a {
  text-decoration: none;
}

.v-application {
  font-family: Ubuntu Mono, monospace !important;
  font-style: normal;
  font-variant: normal;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: calc(100vh - 80px)
}

.bg-transparent {
  background-color: $transparent !important;
}

.bb-1 {
  border-bottom: 1px solid $grey3 !important;
}

.nuxt-content-highlight pre {
  background-color: $transparent !important;
  border: none;
}

.nuxt-content-highlight pre code {
  background-color:$transparent !important;
  text-shadow: none !important;
}

.theme--dark.v-application {
  background-color: #1E1E1E !important;
}

// scrollbars

::-webkit-scrollbar {
  width: 6px; /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: var(--v-borders-base) !important;
  z-index: 4 !important
}
::-webkit-scrollbar-thumb {
  background: var(--v-primary-base) !important;
}

// firefox scrollbar z-index fix
.ff-scrollbar-fix {
  transform: translate3d(0, 0, 0);
  scrollbar-color: var(--v-primary-base) var(--v-borders-base);
  scrollbar-width: thin;
}
