$grey1:     #111 !default;
$grey2:     #222 !default;
$grey3:     #333 !default;
$grey4:     #444 !default;
$grey5:     #555 !default;

$greyLight: #e6e6e6 !default;

$transparent: rgba(0,0,0,0);

@import 'custom';